<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For Android 12 and above devices, the following permission is also required. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:protectionLevel="signature" />

    <application
        android:name=".MApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewDemo"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,usesCleartextTraffic"
        tools:targetApi="31">
        <activity
            android:name=".SimmerActivity"
            android:exported="false" />
        <activity
            android:name=".payment_getways.ObjectDeductActivity"
            android:exported="false" />
        <activity
            android:name=".ShowImageActivity"
            android:exported="false" />
        <activity
            android:name=".OpenCameraActivity"
            android:exported="false" />
        <activity
            android:name=".TextToSpeechActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".payment_getways.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".payment_getways.VoiceRecordingActivity"
            android:exported="false" />
        <activity
            android:name=".payment_getways.PayUBrowserActivity"
            android:exported="false" />

        <meta-data
            android:name="payu_debug_mode_enabled"
            android:value="false" />

        <activity
            android:name=".payment_getways.PayUActivity"
            android:exported="false" />
        <activity
            android:name=".payment_getways.PaymentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment_getways.StripeActivity"
            android:exported="true" />
        <activity
            android:name=".OneTwoOneActivity"
            android:exported="false" />
        <activity
            android:name=".VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".AudioCallActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".MyForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="accept" />
                <action android:name="reject" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".payment_getways.CustomBrowserActivity"
            android:exported="true"
            android:launchMode="singleTask"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="payu" />
            </intent-filter>
        </activity>
    </application>

</manifest>